Introducing Lists

List = collection of items in a particular order 

Square brackets [] indicate a list 
Because lists usually contain more than one element, it's good practice to make list plural

In [16]:
## List example 

bicycles = ['trek', 'cannondale', 'redline', 'specialized']

Accessing elements in a list

In [6]:
## Pulling information from list 
## Index positions start at 0 
print(bicycles[0])

## Accessing last item in list 

print(bicycles[-1].upper())

## Implementing Strings 

print(bicycles[2].title())

trek
SPECIALIZED
Redline

Changing, Adding & Removing Elements 

Most lists you make will be dynamic, meaning you'll build a list and then andd and remove elements from it as your program run its course

In [17]:
## Modifying elements in a list 

print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [18]:
## Modify list 

bicycles[2] = 'tricycle'
print(bicycles)

['trek', 'cannondale', 'tricycle', 'specialized']

In [19]:
## Adding elements to a list 

bicycles.append('motorbike')
print(bicycles)

['trek', 'cannondale', 'tricycle', 'specialized', 'motorbike']

In [20]:
## Inserting elements into a list 

bicycles.insert(0, 'dirtbike')
print(bicycles)

['dirtbike', 'trek', 'cannondale', 'tricycle', 'specialized', 'motorbike']

In [21]:
## Removing items from a list

del bicycles[-1]
print(bicycles)

['dirtbike', 'trek', 'cannondale', 'tricycle', 'specialized']

In [22]:
## Removing by value 

bicycles.remove('trek')
print(bicycles)

['dirtbike', 'cannondale', 'tricycle', 'specialized']

Organizing Lists

In [23]:
## Sorting a list permenantly 

bicycles.sort()
print(bicycles)

['cannondale', 'dirtbike', 'specialized', 'tricycle']

## Chapter 4 Working with Lists

In [26]:
## Looping through entire list 

magicians = ['alice', 'david', 'carolina']
for magician in magicians: 
    print(magician)

alice
david
carolina

Doing more work within a for loop n

In [27]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians: 
    print(magician.title() + ", that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [28]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians: 
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Doing something after a loop

In [29]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians: 
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
    
print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [35]:
## Make a list of numbers 

numbers = list(range(1,12))
print(numbers)

## Simple Statistics 
min(numbers)
max(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

11

In [38]:
## Slicing a list 

print(numbers[0:7])

[1, 2, 3, 4, 5, 6, 7]

Tuples

Tuples are lists, except you use parentheses ()

## Chapter 5 if statements

Syntax below

Remember: 

colons

In [40]:
cars = ['audi', 'bmw', 'suburu', 'toyota']

In [42]:
for car in cars: 
    if car == 'bmw': 
        print(car.upper())
    else: 
        print(car.title())

Audi
BMW
Suburu
Toyota

Conditional Tests

In [43]:
>>> car = 'bmw'
>>> car == 'bmw'

True

In [48]:
>>> car = 'bmw'
>>> car == 'audi'

False

Checking for inequality

In [49]:
## Example 

requested_topping = 'mushrooms'

if requested_topping != 'anchovies':
        print('Hold the anchovies!')

Hold the anchovies!

Checking multiple conditions

In [51]:
>>> age_0 = 22 

>>> age_1 = 18 

>>> age_0 >=21 and age_1 >= 21

False

In [54]:
>>> age_0 = 22 

>>> age_1 = 18 

>>> age_0 >=21 or age_1 >= 21

True

Checking whether value is in a list

In [56]:
>>> requested_topping = ['mushrooms', 'onions', 'pineapple']

>>> 'mushrooms' in requested_topping

True

In [57]:
>>> requested_topping = ['mushrooms', 'onions', 'pineapple']

>>> 'pepperoni' in requested_topping

False

Checking whether value is NOT in a list

In [59]:
## Example 

banned_users = ['andrew', 'carolina', 'david']
user = 'marie'

if user not in banned_users:
    print(user.title() + ', you cna post a response if you wish.')

Marie, you cna post a response if you wish.

IF Statements

In [62]:
age = 19 
if age >= 18:
    print("You are old enough to vote!")

You are old enough to vote!

IF / ELSE Statements

In [66]:
age = 17 

if age >= 18:
    print('You are old enough to vote!')
    print('Have you registered to vote yet?')

else: 
    print('Sorry, you are too young to vote.')
    print('Please register to vote as soon as you turn 18!')

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

If-elif-else chain

In [67]:
age = 12 

if age < 4: 
        print('Your admission cost is $0.')
        
elif age < 18:
        print('Your admission cost is $5.')
        
else: 
        print('Your admission cost is $10.')

Your admission cost is $5.